@charset "UTF-8";
body,global_header{margin:0 auto}
#gh_amwayNav_v2,#narikawari{position:absolute;top:36px;left:0}
#gh_amwayNav_v2 ul .link_off,#gh_amwayNav_v2 ul a{border-bottom:1px solid #fff;border-top:1px solid #fff}
*{margin:0;padding:0;font-style:normal;font-size:100%}
body{height:100%;background:#FFF;color:#334040;font-family:Arial,"ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",Osaka,Verdana,sans-serif}
h1,h2,h3,h4,h5{line-height:1.1}
h1{font-size:140%}
h2{font-size:120%}
h3{font-size:110%}
em{font-weight:700}
img{border:none;vertical-align:bottom}
#main dl,#main ol,#main p,#main ul{margin:0 0 .6em;line-height:160%}
#main ol{margin-left:1.8em}
.text_attention,.text_emphasis{color:#c6003c}
#main em.em_number{color:#c6003c;font-weight:400;font-size:140%}
#main em.em_number_bk{color:000000;font-size:140%;font-weight:400}
#main em.em_number_bk span{color:#c6003c}
.text_catchphrase{font-weight:700}
.text_footnote{text-indent:-1em;margin-left:1.3em;padding-left:1em;color:#999;font-size:84%}
.text_date,.text_sup{color:#666}
#main p.text_footnote_date{text-align:right;line-height:1;vertical-align:top;color:#666}
#main ul.ul_menulist li,#main ul.ul_menulist li img{line-height:1.2;vertical-align:middle}
#main p.text_lastrow{margin-bottom:0}
#main ol.ol_text,#main ul.ul_plain,#main ul.ul_text{margin:0 0 1em 2em;line-height:140%}
#main ol.ol_text{margin:0 0 1em 2.8em}
#main dl.dl_text,#main dl.dl_text2{margin:0 0 1em;line-height:140%}
#main dl.dl_text2 dt{margin-bottom:5px}
#main dl.dl_plain dd,#main dl.dl_text dd{margin-bottom:8px}
#main ul.ul_menulist li{margin-bottom:2px}
#main ul.part_ul_img{list-style-type:none}
#main ul.ul_linkplain{list-style-type:none;margin-left:-2px}
.parts_button1{text-align:center}
.parts_button1 li{margin:0 10px;list-style-type:none;display:inline}
.parts_button2 li{margin-bottom:4px;list-style-type:none}
.box_right,.text_right{text-align:right}
.box_left,.text_left{text-align:left}
.box_center,.text_center{text-align:center}
#main .clear{clear:both;width:auto;height:1px;line-height:1px;font-size:1px;visibility:hidden}
a{text-decoration:underline}
#gh_amwayNav_v2 .gh_amwayNav_contents a,#topicpath a{text-decoration:none}
a:link{color:#264D72}
a:visited{color:#5C7B99}
a:active,a:hover{color:#198FFF}
a img,a:link img,a:visited img{border:1px solid #D2D2D2}
.module_index_dir a img,.module_index_dir a:link img,.module_index_dir a:visited img,a img.linkimg_icon,a:link img.linkimg_icon,a:visited img.linkimg_icon{border:1px solid #FFF}
.module_index_dir a:active img,.module_index_dir a:hover img,a:active img,a:active img.linkimg_icon,a:hover img,a:hover img.linkimg_icon{border:1px solid #198FFF}
a img.linkimg_btn,a:active img.linkimg_btn,a:hover img.linkimg_btn,a:link img.linkimg_btn,a:visited img.linkimg_btn{border:none}
.link_popicon a img,.link_popicon a:link img,.link_popicon a:visited img{border:1px solid #FFF}
.link_popicon a img{margin-left:2px;vertical-align:top}
.link_popicon a:hover img{border:1px solid #C00}
#main .link_close,#main .link_list dt,#main .link_list li,.link,.link_blank,.link_down,.link_mail{padding-left:11px;background-repeat:no-repeat;background-position:0 4px;list-style-type:none}
#main .link_list dt,#main .link_list li,.link{background-image:url(/psl/common/img/icon_link.gif)}
.link_blank{background-image:url(/psl/common/img/icon_link_blank.gif)}
.link_prev{background:url(/psl/common/img/icon_link_prev.gif)0 4px no-repeat;padding-left:11px}
.link_next{background:url(/psl/common/img/icon_link.gif)right no-repeat;padding-right:12px}
.link_mail{background-image:url(/psl/common/img/icon_link_mail.gif)}
#main .link_close{background-image:url(/psl/common/img/popup/icon_close.gif);padding-left:13px}
.w-icon{background-position:0 3px;line-height:1.3;vertical-align:baseline}
.w-icon img{line-height:1.3;vertical-align:middle;margin-left:10px}
a.link,a.link_down,a.link_mail,a.link_prev,span.link{margin:0 4px;background-position:0 1px}
a.link_blank{margin:0 4px;background-position:0 2px}
#main .link_list{margin-left:10px;background-position:0 2px}
#main .link_list li{list-style-type:none}
#main .link_list dd{margin-left:11px}
#main .link_list dt img.linkimg_icon,#main .link_list li img.linkimg_icon,.link img.linkimg_icon,.link_blank img.linkimg_icon,.link_down img.linkimg_icon,.link_mail img.linkimg_icon,.link_prev img.linkimg_icon,img.img_icon{margin:0 10px}
img.img_icon2{margin-right:4px}
img.img_icon{padding-bottom:2px;vertical-align:baseline;margin:0 0 0 5px}
img.img_icon_state{margin-left:10px}
.module_footer_link01,.module_footer_link02{margin:20px 0 10px;text-align:center;color:#666}
#container,#header{margin:0 auto}
.module_footer_link01 p,.module_footer_link02 p{display:inline;padding:0 10px}
.module_footer_link02 p span{padding:0 5px}
#container{width:920px}
#main{float:right;width:692px;padding-right:20px}
#side{float:left;width:178px;padding-left:10px}
#topicpath{width:890px;font-size:12px;margin:4px auto;padding:8px 0;border-bottom:1px solid #dcdcdc;line-height:18px;color:#666}
#topicpath a{color:#666}
#topicpath a:hover{color:#198FFF}
#header #textsize{width:890px;font-size:12px;margin:9px auto 4px;text-align:right;color:#666}
#header #textsize a{display:inline-block;height:27px;background:url(/psl/common/img/bg_textsize.gif)no-repeat;text-indent:-9999px;position:relative;text-align:left;vertical-align:middle}
#gh_amwayNav_v2 .close,.gh_navi_mybadge{text-align:center}
#header #textsize a.default{width:36px}
#header #textsize a.large{width:35px;background-position:-36px 0}
#gh_navi_v2{height:36px;background:url(/psl/common/img/header/bg_gh_nav.png)repeat-x}
#gh_navi_v2 .nav,#gh_navi_v2 .nav li{background:url(/psl/common/img/header/bg_nav_gh_amway_20140722.png)repeat-x}
#gh_navi_v2 .gh_navi_contents{width:921px;margin:0 auto}
#gh_navi_v2 .nav{overflow:hidden}
#gh_navi_v2 .nav li{float:left;list-style:none}
#gh_navi_v2 .nav li.cart a,#gh_navi_v2 .nav li.home a,#gh_navi_v2 .nav li.menu a,#gh_navi_v2 .nav li.mypage a{display:block;height:36px;text-indent:-9999px}
#gh_navi_v2 a img{border:none}
#gh_navi_v2 .nav li.home{width:102px}
#gh_navi_v2 .nav li.home.current,#gh_navi_v2 .nav li.home:hover{background-position:0 -36px}
#gh_navi_v2 .nav li.menu{width:181px;background-position:-102px 0}
#gh_navi_v2 .nav li.menu.current,#gh_navi_v2 .nav li.menu:hover{background-position:-102px -36px}
#gh_navi_v2 .nav li.mypage{width:142px;background-position:-283px 0}
#gh_navi_v2 .nav li.mypage.current,#gh_navi_v2 .nav li.mypage:hover{background-position:-283px -36px}
#gh_navi_v2 .nav li.search{height:22px;width:352px;padding:7px 0 0 10px;background:0 0;letter-spacing:-1em}
#gh_navi_v2 .nav li.search input.search_box{width:157px;height:17px;padding:5px 5px 0 24px;background:url(/psl/common/img/header/bg_search_box.png)no-repeat;border:none;color:#fff;font-size:12px;display:inline-block;vertical-align:top;letter-spacing:normal}
#gh_navi_v2 .nav li.search .customSelect{display:inline-block;padding-left:21px;width:100px;height:22px;background:url(/psl/common/img/header/bg_search_select.png)no-repeat;font-size:10px;color:#fff;vertical-align:top;letter-spacing:normal}
#gh_navi_v2 .nav li.search .customSelectInner{width:100px!important;margin-top:5px;font-weight:700}
#gh_navi_v2 .nav li.search select{border:1px solid #656565;letter-spacing:normal}
#gh_navi_v2 .nav li.search .search_submit{display:inline-block;vertical-align:top}
#gh_navi_v2 .nav li.cart{width:123px;margin:0 0 0 10px;background-position:-798px 0}
#gh_navi_v2 .nav li.cart.current,#gh_navi_v2 .nav li.cart:hover{background-position:-798px -36px}
#narikawari{width:100%;color:red;background:#DBDBDB;font-weight:700}
#narikawari #narikawari_message{display:block;text-align:center;font-size:12px}
#header_v2{height:86px;background:url(/psl/common/img/header/bg_header_btm.gif)0 100% repeat-x}
#header_v2 .header_contents{width:976px;overflow:hidden;margin:0 auto}
#header_v2 .logo{float:left;width:162px}
#header_v2 .logo a img{border:none!important}
#gh_amwayNav_v2{display:none;width:100%;z-index:1001}
#gh_amwayNav_v2 .gh_amwayNav_v2_wrapper{position:relative;width:100%;padding:10px 0 0;background:url(/psl/common/img/header/bg_gh_amway.png)0 100% repeat-x #f4f4f4}
#gh_amwayNav_v2 a img{border:none}
#gh_amwayNav_v2 .gh_amwayNav_contents{position:relative;width:920px;margin:0 auto}
#gh_amwayNav_v2 .gh_amwayNav_contents a:hover{text-decoration:underline}
#gh_amwayNav_v2 .column{overflow:hidden;margin:0 0 20px;background:url(/psl/common/img/header/bg_gh_amway_col3.gif)0 100% no-repeat}
#gh_amwayNav_v2 .col3:first-child{margin-left:0}
#gh_amwayNav_v2 .col3{width:280px;float:left;margin-left:40px}
#gh_amwayNav_v2 .tit_related_link{position:relative}
#gh_amwayNav_v2 .tit_related_link p{line-height:1;position:absolute;right:0;top:10px}
#gh_amwayNav_v2 .tit_related_link p a{margin:0 0 0 5px}
#gh_amwayNav_v2 .tit_related_link,#gh_amwayNav_v2 em.tit{display:block;font-size:14px;height:40px;background:#f4f4f4;line-height:3.1;color:#666}
#gh_amwayNav_v2 em.business img,#gh_amwayNav_v2 em.shopping img,#gh_amwayNav_v2 em.site img{vertical-align:middle}
#gh_amwayNav_v2 em.shopping{padding-left:40px;background:url(/psl/common/img/header/icon_bg_shopping.png)0 7px no-repeat #f4f4f4}
#gh_amwayNav_v2 em.business{padding-left:38px;background:url(/psl/common/img/header/icon_bg_business.png)2px 7px no-repeat #f4f4f4}
#gh_amwayNav_v2 em.mypage{padding-left:38px;background:url(/psl/common/img/header/icon_bg_mypage.png)2px 7px no-repeat #f4f4f4}
#gh_amwayNav_v2 em.special{padding-left:38px;background:url(/psl/common/img/header/icon_bg_special.png)0 7px no-repeat #f4f4f4}
#gh_amwayNav_v2 em.other{padding:0}
#gh_amwayNav_v2 em.site{padding-left:38px;background:url(/psl/common/img/header/icon_bg_site.png)0 10px no-repeat #f4f4f4}
#gh_amwayNav_v2 ul{border:1px solid #ccc;border-bottom:none}
#gh_amwayNav_v2 ul li{list-style:none;overflow:hidden;border-bottom:1px solid #ccc;zoom:1}
#gh_amwayNav_v2 li span{display:block;zoom:1}
#gh_amwayNav_v2 ul a{display:block;padding:7px 5px 7px 22px;font-size:12px;color:#666;background:url(/psl/common/img/icon_link.gif)9px 50% no-repeat;zoom:1}
#gh_amwayNav_v2 ul li.line2 a{display:table-cell;width:112px;height:100%;vertical-align:middle;zoom:1}
#gh_amwayNav_v2 ul li.line2 a:first-child{width:110px;border-right:1px solid #ccc}
#gh_amwayNav_v2 .related_link a{background:url(/psl/common/img/header/icon_link_blank.gif)9px 50% no-repeat;border:none}
.mypage{position:relative}
.gh_navi_mybadge{position:absolute;right:3px;top:2px;padding:3px 4px;line-height:1;color:#fff;font-size:12px;text-indent:0;background-color:#E60012;-webkit-border-radius:3px;border-radius:3px;min-width:1.1em}
#gh_amwayNav_v2 ul .link_off{display:block;padding:7px 5px 7px 22px;font-size:12px;color:#aaa;background:url(/psl/common/img/icon_link_off.gif)9px 50% no-repeat;zoom:1}
#gh_amwayNav_v2 ul .link_off .text_img_caption{color:#aaa;padding-left:5px;display:inline}
#gh_amwayNav_v2 ul li.line2 .link_off{display:table-cell;width:112px;height:100%;vertical-align:middle;zoom:1}
#gh_amwayNav_v2 ul li.line2 .link_off .text_img_caption{display:block;padding-left:0}
#gh_amwayNav_v2 ul li.line2 .link_off:first-child{width:110px;border-right:1px solid #ccc}
#side{font-size:12px}
#side a{text-decoration:none}
#side .section{margin-bottom:15px}
#side #module_goup{width:176px;margin-top:.4em;margin-bottom:.8em;padding-right:1px}
#side #module_goup a{display:block;padding-left:20px;background:url(/psl/common/img/side/localnavi_bg_1st.png)10px .4em no-repeat;color:#666}
#side #module_localnavi{margin-top:.4em;list-style:none}
#side #module_localnavi li{width:176px;background-color:#f4f4f4;border:1px solid #dcdcdc;border-top:none}
#side #module_localnavi li:first-child,#side #module_search form{border-top:1px solid #dcdcdc}
#side #module_localnavi li a{display:block;padding:1.2em 2px 1.2em 19px;background:url(/psl/common/img/side/localnavi_bg.png)8px 1.6em no-repeat;color:#666}
#side #module_localnavi li a:hover{color:#222}
#side #module_localnavi li a.active{background-color:#dcdcdc;color:#222;font-weight:700}
#side #module_search form{height:75px;background:#f4f4f4;border-bottom:1px solid #dcdcdc;padding:8px 5px 1px;line-height:1}
#side #module_search h5{float:left;height:15px;line-height:15px;padding-bottom:5px;background:url(/psl/common/img/side/loupe_search.gif)no-repeat;padding-left:15px}
#side #module_search p.detail{float:right;height:15px;line-height:16px;padding-left:11px;padding-bottom:4px;background:url(/psl/common/img/icon_link.gif)0 1px no-repeat}
#side .search_box{clear:both;width:95%;margin-bottom:5px;padding:2px;vertical-align:middle}
#side #module_search select{width:115px;float:left}
#side .search_submit{width:41px;height:19px;padding-left:5px;vertical-align:middle;line-height:21px;border:0}
#side .section_extra{padding-bottom:2px;margin-bottom:15px;background-image:url(/psl/common/img/side/section_extra_lower.gif);background-position:bottom;background-repeat:no-repeat}
#side .section_extra h5{clear:both;width:158px;height:26px;line-height:26px;padding:2px 10px 0;background-image:url(/psl/common/img/side/section_extra_title.gif);background-position:top;background-repeat:no-repeat}
#side #module_brand,#side #module_push{width:176px;padding:0 0 2px;line-height:1;border-left:1px solid #D2D2D2;border-right:1px solid #D2D2D2}
#side #module_push{background:#F2F2F2;padding-bottom:3px}
#side .push,#side .push h5{background-color:#F2F2F2}
#side #module_push h6{margin:0 10px 3px;padding-top:10px}
#side #module_brand li,#side #module_push ul{margin:0 9px;background:url(/psl/common/img/side/section_extra_sep.gif)bottom no-repeat;padding-bottom:7px}
#side #module_brand li{padding:0;list-style-type:none}
#side #module_push li,#side #module_push li.line_primg dl dt{padding-left:12px;list-style-type:none;background:url(/psl/common/img/icon_link.gif)0 1px no-repeat}
#side #module_push li.line_primg dl{width:100%}
#side #module_push li.line_primg dl dd{padding-bottom:4px}
#side #module_push li{margin-bottom:4px}
#side #module_push li.line_primg{padding-left:0;background:0 0}
#side #module_push ul.last{background:0 0;padding-bottom:2px}
#side #module_brand li.last{background:0 0}
#side #module_brand li.last img{margin:2px 0 0}
#side #module_brand{background:#FFF}
#side .brand,#side .brand h5{background-color:#FFF}
#side #module_brand li img{margin:2px 0}
#side #module_brand a img,#side #module_brand a:link img,#side #module_brand a:visited img{border:1px solid #FFF}
#side #module_brand a:active img,#side #module_brand a:hover img{border:1px solid #198FFF}
#side .module_pr li{list-style-type:none;margin-bottom:2px}
#side .module_pointref,#side_a .module_pointref{margin-bottom:15px;padding:2px;border:1px solid #D3D3D3;background:#F2F2F2}
.module_relatedsites{width:176px;background:url(/psl/common/img/side/h5_ttl_relatedsite.gif)top left no-repeat;border:1px solid #D5D5D5}
.module_relatedsites h5{text-indent:-900px}
.module_relatedsites ul{margin:50px 3px 16px 6px}
.module_relatedsites ul li{margin-bottom:8px}
#main h1{font-size:167%;margin-bottom:1px;border-bottom:2px solid #0066e1;color:#666}
#main h1.img{width:100%;line-height:1;margin-bottom:10px;border-bottom:none}
#main h2{clear:both;margin-top:20px;margin-bottom:15px;padding:4px 0;border-bottom:1px solid #0066e1;font-size:125%;font-weight:700}
#main h2.subtitle{margin-top:2em}
#main h3{margin-bottom:2px}
.section_lead{margin:1px 0 20px}
.section_body{clear:both;width:auto;margin-top:10px}
.img_lead_promotion{margin-top:5px}
.img_lead_promotion img.img_w_flash{vertical-align:top;position:relative;top:-1px}
.img_lead_promotion a:link img,.img_lead_promotion a:visited img{border:1px solid #FFF}
.img_lead_promotion a:active img,.img_lead_promotion a:hover img{border:1px solid #198FFF}
#main .img_lead_promotion p{width:228px;margin-right:2px;/margin-right:0;float:left}
#main .img_lead_promotion p.last{margin-right:0}
#main .img_lead_promotion p a{width:228px;display:block}
.section_lead .area_visual{float:left;width:368px;margin-top:10px;margin-right:16px}
.section_lead .area_description{float:right;margin-top:10px;width:308px}
.section_lead .area_description em{font-weight:700;color:#002f5f;font-size:117%}
.module_rssinfo{margin-top:3px;text-align:right}
.module_rssinfo img.linkimg_icon{margin-left:1em;margin-right:0;padding-bottom:0}
.module_lead_catalog .area_visual{width:368px;margin-bottom:2em}
#main ul.part_brandlogo li{margin-top:10px}
.module_index_catalog .area_visual ul.part_brandlogo,.module_lead_catalog .area_visual ul.part_brandlogo{padding:5px 0}
.module_index_catalog .area_visual ul.part_brandlogo li,.module_lead_catalog .area_visual ul.part_brandlogo li{margin-bottom:3px;list-style-type:none}
.module_lead_catalog .area_description{width:308px}
#main .text_promolength{margin-bottom:5px;line-height:1.2em}
#main .module_lead_catalog .text_promolength{border:1px solid #dcdcdc;background:#f0f0f0;line-height:1.2em;padding:5px 10px}
#main .text_promolength dl{line-height:1.2em}
#main .module_lead_catalog .text_promolength dl{margin:2px 0}
#main .module_index_catalog p,#main .module_index_catalog p.text_catchphrase,#main .module_lead_catalog p.text_catchphrase,#main p.part_iconline{margin-bottom:5px}
#main .module_index_catalog text_catchphrase{line-height:1.2em}
.text_promolength img.img_icon{line-height:1.2em;vertical-align:middle}
.module_lead_catalog p.text_catchphrase{font-weight:400}
.module_index_catalog .area_visual ul.part_brandlogo2,.module_lead_catalog .area_visual ul.part_brandlogo2{padding:5px 0}
.module_index_catalog ul.part_brandlogo2 li,.module_lead_catalog ul.part_brandlogo2 li{display:inline;margin-right:3px;list-style-type:none}
#main .module_index_dir{float:left;width:202px;margin-left:10px;padding:10px;background:#f4f4f4;border:1px solid #dcdcdc}
#main .module_index_dir:first-child{margin-left:0}
.section_body_dir{clear:both;width:auto;margin:10px 0 0}
.module_index_dir dd.part_line{border-top:1px solid #CCC;padding-top:3px;margin-top:1px}
.module_index_dir dt{min-height:1.25em;margin-bottom:1px}
.module_index_dir dt.title_l{min-height:2.5em;height:auto;margin-bottom:1px}
.module_index_dir dt a{vertical-align:baseline;padding-left:12px;line-height:1.2;display:block;background:url(/psl/common/img/icon_link.gif)0 3px no-repeat;font-weight:700;text-decoration:none}
.module_index_dir dt.link_blank{background:0 0;padding-left:1px}
.module_index_dir dt.link_blank a{background:url(/psl/common/img/icon_link_blank.gif)0 3px no-repeat}
.module_body_dir dd,.module_index_dir dd{line-height:1.25;margin-bottom:2px}
.module_body_dir dt{font-weight:700;margin-bottom:2px}
.module_body_dir dt a{padding-left:10px;line-height:1.2;width:auto;background:url(/psl/common/img/icon_link.gif)-2px 2px no-repeat}
#main dl.dl_indexlist1 dt{margin-top:.9em}
#main dl.dl_indexlist1 dt a{background:url(/psl/common/img/icon_link.gif)0 1px no-repeat;padding-left:12px}
#main dl.dl_indexlist1 dd{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;line-height:1.25;vertical-align:bottom}
#main dl.dl_indexlist1 dd.text_footnote_date{text-align:right;line-height:1;vertical-align:top;color:#666}
.table_a caption,.table_b caption,.table_b th{text-align:left}
.dl_indexlist2 dt{float:left;clear:left;width:60px}
.dl_indexlist2 dd{margin-left:76px}
.dl_indexlist2 dd dl.part_nlist{margin-bottom:.6em}
.dl_indexlist2 dd dl.part_nlist dt{float:none;clear:none;width:auto;padding-top:0;padding-left:12px}
.dl_indexlist2 dd dl.part_nlist dt.link{background:url(/psl/common/img/icon_link.gif)0 2px no-repeat}
.dl_indexlist2 dd dl.part_nlist dt.link_blank{background:url(/psl/common/img/icon_link_blank.gif)0 2px no-repeat}
.dl_indexlist2 dd dl.part_nlist dd{margin-left:0;padding-top:0;padding-left:2px}
img.img_indi{margin-bottom:4px}
.table_a,.table_b{margin-bottom:3px}
.table_a{clear:both;width:100%;border-top:1px solid #dcdcdc;border-left:1px solid #dcdcdc;font-size:12px}
.table_a th{padding:10px 5px;background:#dcdcdc;border-left:1px solid #fff}
.table_a tr td.line2,.table_a tr.line2 td,.table_b tr.line2 td{background:#F2F2F2}
.table_a tr th:first-child{border-left:none}
.table_a td{padding:10px 5px;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc}
table.table_a{border-collapse:collapse!important}
table.table_a th{border:1px solid #FFF!important}
.table_b{clear:both;width:100%;border-top:1px solid #D3D3D3}
.table_b td,.table_b th{padding:3px;border-bottom:1px solid #D3D3D3}
.table_b th{font-weight:400}
.area_sku,.module_sku{background-color:#EDF2F2}
.table_w80{width:80%}
.table_w70{width:70%}
.table_w60{width:60%}
.table_w50{width:50%}
.table_w40{width:40%}
.table_w30{width:30%}
.module_sku{border-top:1px solid #CCC;border-bottom:1px solid #CCC;margin-bottom:5px;width:100%}
.area_sku1{margin:6px 0}
#main .module_sku .area_sku1 p.btn_buy img{margin-right:5px}
.area_sku{margin:6px 5px 10px}
#main h3.h3_sku_title{margin-bottom:3px;font-size:94%;line-height:1.3}
.h3_sku_title span.part_caption{font-size:80%;font-weight:400}
#main img.img_sku_icon{margin:0 0 0 4px;padding-bottom:1px;line-height:1.3}
.table_sku_wrap{padding:0;width:100%}
.table_sku{width:100%;border-top:1px solid #dcdcdc}
.sku1{margin-bottom:5px}
.table_sku em{font-size:140%;font-weight:400;text-align:right;display:block}
.table_sku td,.table_sku th{background:url(/psl/common/img/border_dot.gif)left bottom repeat-x;line-height:1.2;vertical-align:baseline;padding:4px 0;border-bottom:1px solid #dcdcdc}
#main .module_sku .table_sku_wrap td.td_btn_buy,#main .module_sku p.btn_buy{text-align:right;vertical-align:bottom}
.table_sku th{font-weight:400;text-align:left}
.table_sku td{text-align:right}
#main .module_sku p.btn_buy{margin:0;padding:0}
.section_body .module_sku .sku_title_wide{float:left;width:30%}
.section_body .module_sku .sku_box_wide{float:right;width:60%}
#main .module_sku_dir{float:left;width:216px;margin:0 0 30px 19px;padding:0 0 20px;background:#f4f4f4;border:1px solid #dcdcdc}
#main .module_sku_dir:first-child{margin-left:0}
.module_sku_dir dd,.module_sku_dir dt{padding:8px}
.area_c,.area_r{padding-left:13px}
.module_sku_dir dd{padding-top:0}
.area_r{float:right}
.area_c{float:left}
.area_l{clear:both;float:left}
.module_sku_dir h3.h3_sku_title{margin-top:5px;margin-bottom:0;padding-bottom:8px;border-bottom:1px dotted #ccc}
.module_sku_dir h3.h3_sku_title a{display:block;padding-left:12px;background:url(/psl/common/img/icon_link.gif)0 3px no-repeat;color:#666;text-decoration:none}
.module_sku_dir dd.area_sku_icon{padding:0 0 3px}
.module_sku_dir .dd_sku_text em{color:#002f5f}
#main .area_sku_icon img.img_sku_icon{margin:0 4px 0 0;vertical-align:top}
.module_sku_dir .dd_sku_text{padding-bottom:5px}
.module_sku_dir .table_sku th{padding-left:5px}
.module_sku_dir .table_sku td{padding-right:5px}
#main .module_sku_dir p.btn_buy{margin-bottom:5px;text-align:center;vertical-align:bottom;padding:10px 5px 0 0}
#main .module_sku_dir dd{line-height:1.25;margin-bottom:0}
.module_note{clear:both;width:auto;background:#fff9fb;border:1px solid #d4a0b0;margin-bottom:30px;padding:8px 9px}
.module_note h4{color:#C6003C;margin-bottom:5px;padding-left:20px;min-height:1.4em;height:auto!important;height:1.4em;line-height:1.2}
.module_note h4.h4_note{background:url(/psl/common/img/main/module_note_h4.gif)no-repeat}
.module_note h4.h4_q{background:url(/psl/common/img/main/module_note_h4_q.gif)no-repeat}
.opt_emergency,.opt_update{padding:10px 10px 4px;margin-bottom:.9em}
.module_note h4.h4_update{background:url(/psl/common/img/main/module_note_h4_u.gif)no-repeat;color:#3685D5;float:left;width:66px;margin-bottom:0}
.module_note div.text_update{float:right;width:580px;margin:0;padding:0}
#main .module_note div.text_update p,.module_note div.text_emergency p{margin-bottom:6px;line-height:1.2}
.module_note h4 span{font-weight:400;margin-left:20px;font-size:90%}
.module_note.opt_emergency h4.h4_note{float:left;width:66px;margin-bottom:0}
.module_note div.text_emergency{float:right;width:520px;margin:0;padding:0;font-weight:700}
.module_note_bnr{clear:both;width:auto;padding:10px;margin-bottom:.9em;background:url(/psl/common/img/border_dot.gif)left bottom repeat-x}
.part_bnr{float:left;margin-right:16px}
.section_body_dir .area_visual{float:left;margin-right:10px}
.section_body_dir .area_description{float:right}
.section_body .area_visual{float:left;margin-right:14px}
.section_body .area_description,.section_body .area_visual_rev{float:right}
.section_body .area_description_rev{float:left;margin-right:14px}
.area_visual ul.part_ul_img li{margin-bottom:5px}
.section_body .visual_size-key{width:260px}
.section_body .desc_size-key{width:356px}
.section_body .visual_size1-5{width:112px}
.section_body .desc_size1-5{width:504px}
.section_body_dir .visual_size1-5-c2{width:112px}
.section_body_dir .desc_size1-5-c2{width:184px}
.section_body .visual_size1-4{width:146px}
.section_body .desc_size1-4{width:530px}
.section_body .visual_size1-3{width:200px}
.section_body .desc_size1-3{width:416px}
.section_body .desc_size1-2,.section_body .visual_size1-2{width:308px}
.text_img_caption{font-size:84%}
dd.text_img_caption{padding-top:2px;line-height:1.2;margin-top:1px;margin-bottom:8px}
#main p.text_img_caption{padding-top:0;margin-top:0;line-height:1.4;margin-bottom:.6em}
.module_accept .accept_box,.module_inquiry .inquiry_box{background-color:#E6ECF2;border-top:1px solid #CCC;border-bottom:1px solid #CCC;margin-bottom:3px;padding:15px}
.module_accept .accept_box table th,.module_inquiry .inquiry_box table th{text-align:left;vertical-align:top;width:185px;font-weight:400}
.module_accept .accept_box table td,.module_inquiry .inquiry_box table td{vertical-align:top;padding-left:15px}
.module_inquiry .inquiry_box table table{background:url(/psl/common/img/border_dot.gif)left top repeat-x;width:400px}
.module_inquiry .inquiry_box table table th{padding:2px;text-align:right;width:7.5em;background:url(/psl/common/img/border_dot.gif)left bottom repeat-x;vertical-align:middle}
.module_inquiry .inquiry_box table table td{padding:2px 2px 2px 0;background:url(/psl/common/img/border_dot.gif)left bottom repeat-x}
.module_accept .accept_box ul{list-style:none;background:url(/psl/common/img/border_dot.gif)left top repeat-x;width:400px;margin:0}
.module_accept .accept_box li{background:url(/psl/common/img/border_dot.gif)left bottom repeat-x;padding:2px 0}
.module_accept .accept_box p.accept_btn{padding:15px;background:url(/psl/common/img/border_dot.gif)left bottom repeat-x;margin:0;line-height:100%}
.module_accept .accept_box .accept_btn_wrap{background:url(/psl/common/img/border_dot.gif)left top repeat-x #EEF2F3}
.module_accept .accept_box p.accept_btn img{padding-right:10px;vertical-align:middle}
.module_accept .accept_box table.payed{border:1px solid #CCC;border-collapse:collapse;background-color:#E6E6E6}
.module_accept .accept_box table.payed th{padding:5px;font-weight:700;width:0;border-right:1px solid #CCC}
.module_accept .accept_box table.payed th.payed_title01{text-align:center;background-color:#DFEFFF}
.module_accept .accept_box table.payed th.payed_title02{background-color:#FFF;width:100px}
#main .module_accept .order_box table,#main .module_accept .order_box2 table{width:100%}
.module_accept .accept_box table.payed td.payed_title03{background-color:#FFF}
.module_accept .accept_box table.payed td{padding:5px}
#main .module_accept .order_box td p{margin:0 0 2px}
#main .module_accept .order_box td p.accept_btn{padding:10px 15px;margin:0 0 10px;line-height:100%}
#main .module_accept .order_box2 td{padding-left:0}
#main .module_accept .order_box2 td p{margin:0 0 2px}
#main .module_accept .order_box2 td p.accept_btn{padding:10px 15px;margin:0 0 10px;line-height:100%}
iframe.iframe_handling,iframe.iframe_kiyaku{width:632px;height:200px;margin:0 0 0 60px;border:1px solid #CCC}
#iframe_kiyaku{margin-left:60px}
#iframe_kiyaku .body{height:200px;padding:0 10px;border:1px solid #ccc;overflow:auto}
#footer_v2 ul,#header_menu iframe,#socialBtn,#socialBtn ul,body.iframe{overflow:hidden}
#iframe_kiyaku ul.tab{margin-bottom:10px}
#iframe_kiyaku ul.tab>li{color:#264d72;text-decoration:underline}
#iframe_kiyaku ul.tab>li.selected{color:#198fff}
#iframe_kiyaku ul.tab>li>span{cursor:pointer}
iframe.iframe_promo{width:690px;height:230px;border:1px solid #CCC}
.linkarea_supplement{width:308px}
.linkarea_supplement .area_visual_sup{float:left;margin-right:10px}
.set_generallead{position:relative;height:260px}
.opt_dirlist div.title_l a,.opt_dirlist li.title_l{height:2.5em}
.area_lead_accept{clear:both;width:308px;margin-top:10px;margin-bottom:0;position:absolute;bottom:-7px}
.module_accept p.accept_btn{padding:15px;background:url(/psl/common/img/border_dot.gif)left bottom repeat-x;margin:0;line-height:100%;text-align:right}
.module_accept .accept_btn_wrap{background:url(/psl/common/img/border_dot.gif)left top repeat-x #EEF2F3}
.module_accept p.accept_btn img{padding-left:10px;vertical-align:middle}
#main .opt_dirlist h3{margin-bottom:4px}
div.opt_dirlist{clear:both;width:auto;margin:10px 0}
.opt_dirlist div{list-style-type:none;margin-bottom:0;padding-bottom:0}
.opt_dirlist div a{padding-left:10px;vertical-align:baseline;display:block;line-height:1.2;width:212px;background:url(/psl/common/img/icon_link.gif)-2px 3px no-repeat}
#socialBtn li.line_sns,#socialBtn li.line_sns a,#socialBtn li.twitter{display:block;height:20px}
.opt_dirlist li{float:left;width:208px;line-height:1.25em;margin-right:10px;margin-bottom:10px}
.module_index_dir dt.part_line{border-bottom:1px solid #CCC;padding-bottom:3px}
.area_button{margin-top:10px;text-align:right}
.top #socialBtn{border-top:none}
#socialBtn{margin:10px 0;padding:10px 0 8px;border-top:1px solid #ccc;border-bottom:1px dotted #ccc}
#socialBtn ul{float:right;list-style:none}
#socialBtn li{float:left;white-space:nowrap;display:inline-block}
#socialBtn li.facebook{padding:0;width:105px}
#socialBtn li.twitter{padding:0 10px;width:65px}
#socialBtn li.twitter a:hover{opacity:.7}
#socialBtn li.line_sns{width:89px;padding:0}
#socialBtn li.line_sns a:hover{opacity:.7}
.module_c2{width:308px}
#footer_v2 a{text-decoration:none}
#footer_v2 a:hover{text-decoration:underline}
#footer_v2 a img{border:none}
#footer_v2 .footer_contents{width:890px;padding:10px 0;margin:0 auto}
#footer_v2 ul{margin:0 0 7px -14px}
#footer_v2 ul li{float:left;padding:0 14px;border-left:1px solid #d3d3d3;font-size:12px;list-style:none;line-height:1.2}
#footer_v2 ul li:first-child{border-left:0}
#footer_v2 ul li a{color:#264d72}
#footer_v2 ul li a:hover{color:#1986FF}
#footer_v2 p.copyright{width:237px;height:9px;margin:10px 0 0;background:url(/psl/common/img/footer/txt_copyright.gif)no-repeat;text-indent:-9999px}
#footer_v2 .page_top{margin:-6px 0 0;padding:0 0 0 10px;position:absolute;top:20px;right:0;font-size:10px;background:url(/psl/common/img/footer/icon_bg_top.gif)0 .3em no-repeat}
#header_menu{width:100%}
#header_menu iframe{width:100%;height:165px}
#header_menu2 iframe{width:100%;height:170px;overflow:hidden}
#left_menu{float:left;width:188px;position:relative;top:-28px}
#left_menu iframe{width:188px;overflow:visible}
#side.opt-iframe{margin-top:28px}
#footer_menu iframe{overflow:hidden}
#iframe_pagetop_anchor{position:absolute;left:796px;top:62px;padding-left:10px;background:url(/psl/common/img/icon_link_up.gif)no-repeat;font-size:12px}
#container{overflow:hidden!important}
#footer_menu{overflow:hidden;width:100%!important;margin:40px 0 0 -2px;padding-top:3px;background:url(/psl/common/img/footer/bg_footer.png)repeat-x #fff;border-bottom:1px solid #dfdfdf;position:relative;z-index:10}
#footer_menu:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden}
#footer_menu div{margin:0 auto;width:980px}
#footer_menu div div{top:0!important;left:820px!important;width:auto}
#footer_menu div div img{margin:0;border:none}
#footer_menu iframe{width:980px;height:55px}
#footer_menu div #iframe_pagetop_anchor{width:auto!important;top:-10px!important;right:0!important;margin-top:-20px;font-size:10px;left:855px!important}
iframe.s_afr2_01,iframe.s_afr2_02,iframe.s_afr2_02q,iframe.s_afr2_03,iframe.s_afr2_04,iframe.s_afr2_05,iframe.s_afr2_06,iframe.s_afr2_07,iframe.s_afr2_08,iframe.s_afr2_09,iframe.s_afr2_10,iframe.s_afr2_11,iframe.s_afr2_12,iframe.s_afr2_13,iframe.s_afr2_14,iframe.s_afr2_15,iframe.s_afr2_16,iframe.s_afr2_17,iframe.s_afr2_18,iframe.s_afr2_19,iframe.s_afr2_20,iframe.s_amcard_join,iframe.s_amcard_point,iframe.s_amcredit_conditions,iframe.s_amg_amode,iframe.s_calculation_chart,iframe.s_cnt_us,iframe.s_cs_enq,iframe.s_episode,iframe.s_error,iframe.s_finance_apply,iframe.s_partner_store{height:800px}
.footer_aside{clear:both}
.footer_aside .footer_aside_inner{padding:10px 45px}
#footer-area .footer_aside .footer_aside_inner:after,.footer_aside .footer_aside_inner:before{content:"";display:table}
.footer_aside .footer_aside_inner:after{clear:both}
.footer_aside .aside_list{display:inline;float:left;list-style:none;width:28%;font-size:.75em;margin:0 0 10px;padding:0;line-height:1.4em}
.footer_aside .aside_list strong{line-height:2.2em}
.footer_aside .aside_list .aside_list_item .aside_list_item_anchor{color:#858585;text-decoration:none}
.footer_aside .aside_list .aside_list_item .aside_list_item_anchor:hover{text-decoration:underline}